[DEFAULT]
bot_token = PUT_YOUR_TELEGRAM_TOKEN_HERE
consumer_key = PUT_YOUR_CONSUMER_KEY_HERE
consumer_secret = PUT_YOUR_CONSUMER_SECRET_HERE
access_token = PUT_YOUR_ACCESS_TOKEN_HERE
access_token_secret = PUT_YOUR_ACCESS_TOKEN_SECRET_HERE

[CHANNELS]
news = id_for_telegram_channel

[infobae]
last_id = 1320348776662500101
channel_id = ${CHANNELS:new}

